@import "lib/All/Init.scss";
@import "./lib/All/font.scss";
@import "lib/All/nav.scss";
@import "lib/All/header.scss";
@import"./lib/All/Allclass.scss";
@import"./lib/All/footer.scss";
// --------------------------------initialisation des var generale-------------------------------------- 
// (------------------- Pour le header----------------------------------)
header{
    @include header2;
    div.container{
        height: 100%;
    }
    h1{
        color:white;
        font-weight: 600;
        font-size: 3em;
        margin: 0 5%;
        padding: 4em 0;
        height: 100%;
        width: 33%;
        text-transform: uppercase;
        
    }
}
// (----------------------------------------------Pour le principale ------------------------------------)
main h1{
    text-align: center;
    text-transform: uppercase;
    color:$blue-color;
    padding: 10% 0;
}
#butonBegin{
    width: 60%;
    margin: 0 auto ;
    text-align: center;

}
.begin{
    background-image: linear-gradient(120deg, rgba(248, 242, 242, 0.596) 40%,rgb(175, 120, 16) 90%);
    color: $white-color;
    text-decoration: none;
    padding: 1em 2em;
    border: #fff 1px solid ;
    box-shadow : rgb(121, 118, 118) 0px 0px 3px;
}

#game{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    justify-content: center;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}

